@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* table border color */
  --tbc: rgba(0, 0, 0, .5);
}
table {
  border: 1px solid var(--tbc);
  border-collapse: collapse;
  width: 600px;
}
td {
  border: 1px solid var(--tbc);
  width: 33.3333%;
  padding: 4px;
}
th {
  padding: 4px;
  border: 1px solid var(--tbc);
}

.options {
  margin: 20px;
}
